In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import html5lib

To start this whole thing out, I need to collect the urls from wikipedia that have contestant data. I do this for both the Bachelor and Bachelorette.

In [2]:
import numpy as np
bachelor_seasons = np.arange(9,21)

bachelor_urls = []
for season in bachelor_seasons:
    season_url = 'https://en.wikipedia.org/wiki/The_Bachelor_(season_{})'.format(season)
    bachelor_urls.append(season_url)

In [3]:
import numpy as np
bachelorette_seasons = np.arange(4,13)
bachelorette_seasons = np.insert(bachelorette_seasons,0,2)

bachelorette_urls = []
for season in bachelorette_seasons:
    season_url = 'https://en.wikipedia.org/wiki/The_Bachelorette_(season_{})'.format(season)
    bachelorette_urls.append(season_url)

Let's create a function that takes in a url and then creates a soup from the html. This will come in handy when we are collecting the data.

In [4]:
def makeSoup(url):
    response=requests.get(url)
    soup=BeautifulSoup(response.content,"lxml")
    return soup

In [111]:
def dataCollector(soup):
    import re
    # make the soup
    this = makeSoup(soup)
    
    # find the right table
    tables = this.findChildren('table')
    table = tables[1]
    
    # turn the data into a workable format
    data   = [[td.text for td in row.select('td')]
             for row in table.findAll('tr')]
    
    # create the header row and the body
    header = ['name','age', 'hometown', 'occupation', 'elimination']
    body = data[1:]
    cols   =  zip(*body)
    
    # create a dict with the data
    tbl_d  = {name:col for name, col in zip(header,cols)}
    
    # extract the season number from the original soup
    number = re.findall(r'\d+', soup)
    
    # remove brackets
    num= ''.join(number)
    
    # create a new key of seasons
    tbl_d['season'] = [num] * len(tbl_d['age'])
    
    new_names = []
    for name in tbl_d['name']:
        cleaned_name = re.sub(r'\[\w+\]', ' ', name)
        new_names.append(cleaned_name)

    tbl_d['name'] = new_names
    
    # find the first name with last name abbreviation
    name_abbreviation = []
    
    for name in tbl_d['name']:
        names = name.split(" ")

        new_names = []
        for name in names:
            cleaned_name = re.sub(r'\(\w+\)', ' ', name)
            new_names.append(cleaned_name)
        filtered = filter(lambda items: items.strip(), new_names) # remove blank space items 
        new_names = list(filtered)

        if len(new_names)== 1:
            new_name = new_names[0]
        else:
            new_name = "{} {}.".format(new_names[0], new_names[-1][0])
        name_abbreviation.append(new_name)
        
    tbl_d['name_abbreviation'] = name_abbreviation
    
    new_hometowns = []
    for hometown in tbl_d['hometown']:
        cleaned_hometown = re.sub(r'\[\w+\]', ' ', hometown)
        new_hometowns.append(cleaned_hometown)

    tbl_d['hometown'] = new_hometowns
    
    elimination_week = []

    for item in tbl_d['elimination']:
        if hasNumbers(item):
            digits = get_digits(item)
            episode = digits[0]
        else:
            episode = item
        elimination_week.append(episode)
    tbl_d['elimination'] = elimination_week
    
    # return dictionary
    return tbl_d

In [112]:
def frameMaker(urls):
    frames = []

    for url in urls:
        dictionary = dataCollector(url)
        frame = pd.DataFrame(dictionary)
        frames.append(frame)

    combined = pd.concat(frames)
    
    return combined.reset_index()

In [116]:
bachelorette_frame = frameMaker(bachelorette_urls)

In [113]:
bachelor_frame = frameMaker(bachelor_urls)

In [117]:
bachelorette_frame.tail(50)

,index,age,elimination,hometown,name,name_abbreviation,occupation,season
207,2,26,8,"Warsaw, Indiana","Benjamin ""Ben"" Higgins",Benjamin H.,Software Salesman,11
208,3,26,7,"Warwick, Rhode Island",Jared Haibon,Jared H.,Restaurant Manager,11
209,4,28,7,"Glasgow, Kentucky","Joseph ""Joe"" Bailey",Joseph B.,Insurance Agent,11
210,5,28,7,"Granite Bay, California","Christopher ""Chris"" Strandburg",Christopher S.,Dentist,11
211,6,26,6,"Falls Church, Virginia","Benjamin ""Ben"" Zorn",Benjamin Z.,Fitness Coach,11
212,7,28,6,"Stilwell, Kansas",Tanner Tolbert,Tanner T.,Auto Finance Manager,11
213,8,32,6,"Dacono, Colorado","John ""JJ"" Lane III",John I.,Former Investment Banker,11
214,9,31,5,"Ventura, California",Joshua Albers,Joshua A.,Industrial Welder,11
215,10,28,5,"Elgin, Illinois",Justin Reich,Justin R.,Fitness Trainer,11
216,11,28,5,"Ramsey, New Jersey",Ian Thomson,Ian T.,Executive Recruiter,11
217,12,30,4,"New York, New York",Corey Stansell (NY),Corey S.,Investment Banker,11
218,13,33,4,"Sylvan Lake, Michigan",Jonathan Holloway,Jonathan H.,Automotive Spokesman,11
219,14,32,4,"Wellington, Florida",Ryan Beckett,Ryan B.,Realtor,11
220,15,27,3,"Batavia, Illinois",Clint Arlis,Clint A.,Architectural Engineer,11
221,16,35,3,"St. Louis, Missouri","Anthony ""Tony"" Harris",Anthony H.,Healer,11
222,17,35,2,"Seven Springs, North Carolina",Cory Shivar (NC),Cory S.,Residential Developer,11
223,18,28,2,"Nashville, Tennessee",Daniel Finney,Daniel F.,Fashion Designer,11
224,19,32,2,"Boston, Massachusetts",Kupah James,Kupah J.,Entrepreneur,11
225,20,25,1,"Duluth, Georgia",Bradley Cox,Bradley C.,International Auto Shipper,11
226,21,28,1,"Orlando, Florida",David,David,Real Estate Agent,11
227,22,27,1,"Chicago, Illinois","Joshua ""Josh"" Seiter",Joshua S.,Law Student/Exotic Dancer,11
228,23,31,1,"London, Ontario",Shawn Evans,Shawn E.,Amateur Sex Coach,11
229,24,33,1,"Wauseon, Ohio","Bradley ""Brady"" Toops",Bradley T.,Singer/Songwriter,11
230,25,28,1,"Kansas City, Missouri",Ryan McDill,Ryan M.,Junkyard Specialist,11
231,0,25,,"Oceanside, California",Alex Wotykiw,Alex W.,U.S. Marine,12
232,1,27,,"Castle Rock, Colorado",Chase McNary,Chase M.,Medical Sales Rep,12
233,2,29,,"Katy, Texas",James Taylor,James T.,Singer-Songwriter,12
234,3,27,,"Chico, California",Jordan Rodgers,Jordan R.,Former Pro Quarterback,12
235,4,31,,"Burnet, Texas",Luke Pell,Luke P.,War Veteran,12
236,5,27,,"St. Augustine, Florida",Robby Hayes,Robby H.,Former Competitive Swimmer,12
237,6,29,6,"Waverly, Iowa",Derek Peth,Derek P.,Commercial Banker,12
238,7,31,6,"Monterey, California",Wells Adams,Wells A.,Radio DJ,12
239,8,33,5,"Nashville, Tennessee",Evan Bass,Evan B.,Erectile Dysfunction Specialist,12
240,9,27,5,"San Francisco, California",Grant Kemp,Grant K.,Firefighter,12
241,10,28,5,"Delray Beach, Florida","Vincent ""Vinny"" Ventiera",Vincent V.,Barber,12
242,11,31,4,"Vancouver, British Columbia",Daniel Maguire,Daniel M.,Canadian,12
243,12,34,4,"Franklin, Tennessee",James Fuertes,James F.,Boxing Club Owner,12
244,13,28,4,"Jenks, Oklahoma",Chad Johnson,Chad J.,Luxury Real Estate Agent,12
245,14,27,3,"Santa Monica, California",Ali Zahiri,Ali Z.,Bartender,12
246,15,26,3,"Los Angeles, California",Christian Bishop,Christian B.,Telecom Consultant,12
247,16,33,3,"Carthage, Illinois",Nick Benvenutti,Nick B.,Electrical Engineer,12
248,17,28,2,"Marysville, Washington",Brandon Howell,Brandon H.,Hipster,12
249,18,27,2,"Phoenix, Arizona",James Spadafore,James S.,Bachelor Superfan,12
250,19,26,2,"Jersey City, New Jersey",Will Haduch,Will H.,Civil Engineer,12
251,20,27,1,"Chicago, Illinois",Coley Knust,Coley K.,Real Estate Consultant,12
252,21,26,1,"Playa Vista, California",Jake Patton,Jake P.,Landscape Architect,12
253,22,29,1,"Vancouver, British Columbia",Jonathan Hamilton,Jonathan H.,Technical Sales Rep,12
254,23,26,1,"San Francisco, California",Nick Sharp,Nick S.,Software Salesman,12
255,24,26,1,"Rockdale, Illinois",Peter Medina,Peter M.,Staffing Agency Manager,12
256,25,28,1,"Hubbard, Ohio",Sal DeJulio,Sal D.,Operations Manager,12

In [84]:
def get_digits(str1):
    c = ""
    for i in str1:
        if i.isdigit():
            c += i
    return c

In [89]:
def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString)

In [93]:
elimination_week = []

for item in bachelorette_frame['elimination']:
    if hasNumbers(item):
        season = get_digits(item)
    else:
        season = item
    elimination_week.append(season)
elimination_week

['Winner',
 '8',
 '6',
 '5',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'Winner',
 '8',
 '7',
 '6',
 '5',
 '5',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '75',
 'Runner-up',
 '9',
 '8',
 '7',
 '7',
 '6',
 '6',
 '6',
 '5',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'Winner',
 'Runner-up',
 '9',
 '8',
 '7',
 '6',
 '6',
 '5',
 '5',
 '4',
 '4',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'Winner',
 'Runner-up',
 '9',
 '8',
 '7',
 '7',
 '6',
 '6',
 '5',
 '5',
 '5',
 '4',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'Winner',
 'Runner-up',
 '9',
 '8',
 '7',
 '7',
 '6',
 '6',
 '5',
 '5',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'Winner',
 'Runner-up',
 '9',
 '8',
 '7',
 '6',
 '6',
 '6',
 '5',
 '5',
 '5',
 '4',
 '4',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'Winner',
 'Runner-up',
 '9',
 '8',
 '7',
 '7',
 '6',
 '6',
 '5',
 '5',
 '5',
 '4',
 '4',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 'Winner',
 'Runner Up',
 '8',
 '7',
 '7',
 '7',
 '6',
 '6',
 '6',
 '5',
 '5',
 '5',
 '4',
 '4',
 '4',
 '3',
 '3',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '',
 '',
 '',
 '',
 '',
 '',
 '6',
 '6',
 '5',
 '5',
 '5',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1']

In [43]:
bachelorette_frame.to_csv('data/bachelorette_contestants.csv', index = False)

In [44]:
bachelor_frame.to_csv('data/bachelor_contestants.csv', index = False)