# Contestant Data Scraper

Everyone should watch the Bachelor(ette). I blindly live by this axiom and assume that everyone understands the beauty that is *Sister Wives* meets the *Dating Game* meets the Jerry Springer hosted *Baggage* (if you haven't seen this, take a weekend and get back to me). And yes, I will shut down all of you sexists out there who believe this show is better suited for the female audience. That's like saying that sports are only for men, and if you believe this then you are most likely a douchebag and your opinion is nullified by default.

But let's get down to the point. Countless number (exageration) of people who watch this show attempt to predict who is going home, when they will go home, and, of course, who is going to win the season. Well, this is the first step in an attempt to build a probabistic model that will forcast the odds of each contestant by learning from past season patterns.  However, there is little structured data about the television show, so I had to collect it myself. Well, I had to set up a webscraper to do it for me.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import html5lib

To begin, I first need to collect all available contestant data at the moment. This can be updated for the current season every single week as updates are made. The easiest way to do this was to go to Wikipedia. Let's first collect the urls of those seasons that have data available...

#### The Bachelor

In [2]:
import numpy as np
bachelor_seasons = np.arange(9,21)

bachelor_urls = []
for season in bachelor_seasons:
    season_url = 'https://en.wikipedia.org/wiki/The_Bachelor_(season_{})'.format(season)
    bachelor_urls.append(season_url)

#### The Bachelorette

In [3]:
import numpy as np
bachelorette_seasons = np.arange(4,13)
bachelorette_seasons = np.insert(bachelorette_seasons,0,2)

bachelorette_urls = []
for season in bachelorette_seasons:
    season_url = 'https://en.wikipedia.org/wiki/The_Bachelorette_(season_{})'.format(season)
    bachelorette_urls.append(season_url)

So the next two functions aren't really going to make sense at the moment, but essentially I need them to clean up some of the data.  The `getDigits()` function simply collects any numerical digits in a string. The `hasNumbers` function just checks to see if the string has digits in it. This will come in handy if you look closely `dataCollector` function.

In [4]:
def getDigits(str1):
    c = ""
    for i in str1:
        if i.isdigit():
            c += i
    return c

In [5]:
def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString)

There are going to be a string of functions that will be involved in grabbing the data and outputting it to a dataframe and what not. Those are all below.  This first one simply collects the page from a given url and returns the html in lmxl format.

In [6]:
def makeSoup(url):
    response=requests.get(url)
    soup=BeautifulSoup(response.content,"lxml")
    return soup

Here is where all of the magic happens! Okay, not really. This is the very important and very boring cleaning of the data as you read it in and then outputting it to a dictionary so that it can easily be formatted to other, more flexible structures.

In [11]:
def dataCollector(soup):
    import re
    # make the soup
    this = makeSoup(soup)
    
    # find the right table
    tables = this.findChildren('table')
    table = tables[1]
    
    # turn the data into a workable format
    data   = [[td.text for td in row.select('td')]
             for row in table.findAll('tr')]
    
    # create the header row and the body
    header = ['name','age', 'hometown', 'occupation', 'elimination']
    body = data[1:]
    cols   =  zip(*body)
    
    # create a dict with the data
    tbl_d  = {name:col for name, col in zip(header,cols)}
    
    # extract the season number from the original soup
    number = re.findall(r'\d+', soup)
    
    # remove brackets
    num= ''.join(number)
    
    # create a new key of seasons
    tbl_d['season'] = [num] * len(tbl_d['age'])
    
    new_names = []
    for name in tbl_d['name']:
        cleaned_name = re.sub(r'\[\w+\]', ' ', name)
        new_names.append(cleaned_name)

    tbl_d['name'] = new_names
    
    # find the first name with last name abbreviation
    name_abbreviation = []
    
    # find the first name only
    first_names = []
    
    for name in tbl_d['name']:
        names = name.split(" ")
        fn = names[0]
        first_names.append(fn)

        new_names = []
        for name in names:
            cleaned_name = re.sub(r'\(\w+\)', ' ', name)
            new_names.append(cleaned_name)
        filtered = filter(lambda items: items.strip(), new_names) # remove blank space items 
        new_names = list(filtered)

        if len(new_names)== 1:
            new_name = new_names[0]
        else:
            new_name = "{} {}.".format(new_names[0], new_names[-1][0])
        name_abbreviation.append(new_name)
        
    tbl_d['name_abbreviation'] = name_abbreviation
    tbl_d['first_name'] = first_names
    
    new_ages = []
    for age in tbl_d['age']:
        cleaned_age = re.sub(r'\[\w+\]', ' ', age)
        new_ages.append(cleaned_age)
    
    tbl_d['age'] = new_ages
    
    # clean up the hometowns
    new_hometowns = []
    
    for hometown in tbl_d['hometown']:
        cleaned_hometown = re.sub(r'\[\w+\]', ' ', hometown)
        new_hometowns.append(cleaned_hometown)

    tbl_d['hometown'] = new_hometowns
    
    # find just the number of the elimination week
    #elimination_week = []

    #for item in tbl_d['elimination']:
    #    if hasNumbers(item):
    #        digits = getDigits(item)
    #        episode = digits[0]
    #    else:
    #        episode = item
    #    elimination_week.append(episode)
    #tbl_d['elimination'] = elimination_week
    
    # return dictionary
    return tbl_d

This final function is meant to tie it all together and output it to a dataframe...

In [12]:
def frameMaker(urls):
    frames = []

    for url in urls:
        dictionary = dataCollector(url)
        frame = pd.DataFrame(dictionary)
        frames.append(frame)

    combined = pd.concat(frames)
    
    return combined.reset_index()

In [13]:
bachelorette_frame = frameMaker(bachelorette_urls)

In [14]:
bachelor_frame = frameMaker(bachelor_urls)

In [15]:
bachelorette_frame

,index,age,elimination,first_name,hometown,name,name_abbreviation,occupation,season
0,0,29,Winner,Ian,"New York, New York",Ian McKee,Ian M.,Equity Research Sales,2
1,1,28,Episode 8,Matthew,"Friendswood, Texas",Matthew Hickl,Matthew H.,Pharmaceutical Sales Rep,2
2,2,31,Episode 6,Chad,"Buffalo, New York",Chad,Chad,Pharmaceutical Sales Rep,2
3,3,26,Episode 5,Lanny,"Aubrey, Texas",Lanny,Lanny,Stallion and Breeding Manager,2
4,4,29,Episode 4,Brad,"Grand Rapids, Michigan",Brad,Brad,Pharmaceutical Sales Rep,2
5,5,30,Episode 4,Ryan,"Santa Barbara, California",Ryan M.,Ryan M.,Financial Advisor,2
6,6,31,Episode 4,Sean,"Wall, New Jersey",Sean,Sean,CPA,2
7,7,29,Episode 3,Rick,"San Diego, California",Rick,Rick,Business Manager,2
8,8,29,Episode 3,Ryan,"Wynola, California",Ryan R.,Ryan R.,Sales/Marketing,2
9,9,36,Episode 3,Todd,"San Francisco, California",Todd,Todd,Options Trader,2
10,10,28,Episode 2,Damon,"Cardiff, California",Damon,Damon,Arena Football Player,2
11,11,25,Episode 2,Eliot,"Mountain View, California",Eliot,Eliot,Options Trader,2
12,12,29,Episode 2,Harold,"Rock Island, Illinois",Harold Hersh,Harold H.,Professional Hockey Player,2
13,13,26,Episode 2,Marcus,"Los Angeles, California",Marcus,Marcus,Personal Trainer,2
14,14,32,Episode 2,Robert,"El Segundo, California",Robert,Robert,Alliance Development,2
15,15,32,Episode 1,Aaron,"Sacramento, California",Aaron,Aaron,Title and Escrow Sales,2
16,16,33,Episode 1,Andy,"Dallas, Texas",Andy Chang,Andy C.,Dentist,2
17,17,32,Episode 1,Anselm,"Venice, California",Anselm Clinard,Anselm C.,Art Designer,2
18,18,31,Episode 1,Brian,"Quincy, Massachusetts",Brian,Brian,Attorney,2
19,19,31,Episode 1,Chris,"Boston, Massachusetts",Chris,Chris,Accountant,2
20,20,24,Episode 1,Cory,"Long Beach Island, New Jersey",Cory Higgins,Cory H.,Small Business Owner,2
21,21,30,Episode 1,Jeff,"Macon, Georgia",Jeff O'Quinn,Jeff O.,Pharmaceutical Sales Rep,2
22,22,25,Episode 1,Justin,"Orlando, Florida",Justin,Justin,Professional Baseball Player,2
23,23,31,Episode 1,Keith,"Baltimore, Maryland",Keith,Keith,Financial Analyst,2
24,24,35,Episode 1,Trever,"North Wales, Pennsylvania",Trever,Trever,Restaurateur,2
25,0,26,NaN,Jesse,"Breckenridge, Colorado",Jesse Csincsak,Jesse C.,Professional snowboarder,4
26,1,31,NaN,Jason,"Cleveland, Ohio",Jason Mesnick,Jason M.,Account executive,4
27,2,30,NaN,Jeremy,"Dallas, Texas",Jeremy Anderson,Jeremy A.,Real estate attorney,4
28,3,29,NaN,Graham,"Raleigh, North Carolina",Graham Bunn,Graham B.,Professional basketball player,4
29,4,33,NaN,Sean,"Louisville, Kentucky",Sean Ramey,Sean R.,Martial artist,4
...,...,...,...,...,...,...,...,...,...
227,22,27,NaN,Josh,"Chicago, Illinois",Josh Seiter,Josh S.,Law Student/Exotic Dancer,11
228,23,31,NaN,Shawn,"London, Ontario",Shawn Evans,Shawn E.,Amateur Sex Coach,11
229,24,33,NaN,Brady,"Wauseon, Ohio",Brady Toops,Brady T.,Singer/Songwriter,11
230,25,28,NaN,Ryan,"Kansas City, Missouri",Ryan McDill,Ryan M.,Junkyard Specialist,11
231,0,27,NaN,Jordan,"Chico, California",Jordan Rodgers,Jordan R.,Former Pro Quarterback,12
232,1,27,NaN,Robby,"St. Augustine, Florida",Robby Hayes,Robby H.,Former Competitive Swimmer,12
233,2,27,NaN,Chase,"Castle Rock, Colorado",Chase McNary,Chase M.,Medical Sales Rep,12
234,3,31,NaN,Luke,"Burnet, Texas",Luke Pell,Luke P.,War Veteran,12
235,4,29,NaN,James,"Katy, Texas",James Taylor,James T.,Singer-Songwriter,12
236,5,25,NaN,Alex,"Oceanside, California",Alex Woytkiw,Alex W.,U.S. Marine,12
237,6,29,NaN,Derek,"Waverly, Iowa",Derek Peth,Derek P.,Commercial Banker,12
238,7,31,NaN,Wells,"Monterey, California",Wells Adams,Wells A.,Radio DJ,12
239,8,33,NaN,Evan,"Hartford, Connecticut",Evan Bass,Evan B.,Erectile Dysfunction Specialist,12
240,9,27,NaN,Grant,"San Francisco, California",Grant Kemp,Grant K.,Firefighter,12
241,10,28,NaN,Vincent,"Kings Park, New York","Vincent ""Vinny"" Ventiera",Vincent V.,Barber,12
242,11,31,NaN,Daniel,"Lions Bay, British Columbia",Daniel Maguire,Daniel M.,Male Model,12
243,12,34,NaN,James,"Franklin, Tennessee",James Fuertes,James F.,Boxing Club Owner,12
244,13,28,NaN,Chad,"Jenks, Oklahoma",Chad Johnson,Chad J.,Luxury Real Estate Agent,12
245,14,27,NaN,Ali,"Santa Monica, California",Ali Zahiri,Ali Z.,Bartender,12
246,15,26,NaN,Christian,"Los Angeles, California",Christian Bishop,Christian B.,Telecom Consultant,12
247,16,33,NaN,Nick,"Carthage, Illinois",Nick Benvenutti,Nick B.,Electrical Engineer,12
248,17,28,NaN,Brandon,"Marysville, Washington",Brandon Howell,Brandon H.,Hipster,12
249,18,27,NaN,James,"Phoenix, Arizona",James Spadafore,James S.,Bachelor Superfan,12
250,19,26,NaN,Will,"Jersey City, New Jersey",Will Haduch,Will H.,Civil Engineer,12
251,20,27,NaN,Coley,"Chicago, Illinois",Coley Knust,Coley K.,Real Estate Consultant,12
252,21,26,NaN,Jake,"Playa Vista, California",Jake Patton,Jake P.,Landscape Architect,12
253,22,29,NaN,Jonathan,"Vancouver, British Columbia",Jonathan Hamilton,Jonathan H.,Technical Sales Rep,12
254,23,26,NaN,Nick,"San Francisco, California",Nick Sharp,Nick S.,Software Salesman,12
255,24,26,NaN,Peter,"Rockdale, Illinois",Peter Medina,Peter M.,Staffing Agency Manager,12
256,25,28,NaN,Sal,"Hubbard, Ohio",Sal DeJulio,Sal D.,Operations Manager,12

In [34]:
bachelorette_frame.to_csv('data/bachelorette_contestants.csv', index = False)

In [35]:
bachelor_frame.to_csv('data/bachelor_contestants.csv', index = False)

In [26]:
def dataCollector2(soup):
    import re
    # make the soup
    this = makeSoup(soup)
    
    # find the right table
    tables = this.findChildren('table')
    table = tables[1]
    
    # turn the data into a workable format
    data   = [[td.text for td in row.select('td')]
             for row in table.findAll('tr')]
    
    # create the header row and the body
    header = ['name','age', 'hometown', 'occupation', 'elimination']
    body = data[1:]
    cols   =  zip(*body)
    
    # create a dict with the data
    tbl_d  = {name:col for name, col in zip(header,cols)}
    
    # extract the season number from the original soup
    number = re.findall(r'\d+', soup)
    
    # remove brackets
    num= ''.join(number)
    
    # create a new key of seasons
    tbl_d['season'] = [num] * len(tbl_d['age'])
    

    tbl_d['name'] = [re.sub(r'\[\w+\]', ' ', name) for name in tbl_d['name']]
    
    # find the first name with last name abbreviation
    name_abbreviation = []
    
    # find the first name only
    first_names = []
    
    for name in tbl_d['name']:
        names = name.split(" ")
        fn = names[0]
        first_names.append(fn)

        new_names = []
        for name in names:
            cleaned_name = re.sub(r'\(\w+\)', ' ', name)
            new_names.append(cleaned_name)
        filtered = filter(lambda items: items.strip(), new_names) # remove blank space items 
        new_names = list(filtered)

        if len(new_names)== 1:
            new_name = new_names[0]
        else:
            new_name = "{} {}.".format(new_names[0], new_names[-1][0])
        name_abbreviation.append(new_name)
        
    tbl_d['name_abbreviation'] = name_abbreviation
    tbl_d['first_name'] = first_names
    
    
    tbl_d['age'] = [re.sub(r'\[\w+\]', ' ', age) for age in tbl_d['age']]

    
    # clean up the hometowns
    
    tbl_d['hometown'] = [re.sub(r'\[\w+\]', ' ', hometown) for hometown in tbl_d['hometown']]
    
    # find just the number of the elimination week
    #elimination_week = []

    #for item in tbl_d['elimination']:
    #    if hasNumbers(item):
    #        digits = getDigits(item)
    #        episode = digits[0]
    #    else:
    #        episode = item
    #    elimination_week.append(episode)
    #tbl_d['elimination'] = elimination_week
    
    # return dictionary
    return tbl_d

In [27]:
def frameMaker2(urls):
    frames = []

    for url in urls:
        dictionary = dataCollector2(url)
        frame = pd.DataFrame(dictionary)
        frames.append(frame)

    combined = pd.concat(frames)
    
    return combined.reset_index()

In [28]:
frameMaker2(bachelorette_urls)

,index,age,elimination,first_name,hometown,name,name_abbreviation,occupation,season
0,0,29,Winner,Ian,"New York, New York",Ian McKee,Ian M.,Equity Research Sales,2
1,1,28,Episode 8,Matthew,"Friendswood, Texas",Matthew Hickl,Matthew H.,Pharmaceutical Sales Rep,2
2,2,31,Episode 6,Chad,"Buffalo, New York",Chad,Chad,Pharmaceutical Sales Rep,2
3,3,26,Episode 5,Lanny,"Aubrey, Texas",Lanny,Lanny,Stallion and Breeding Manager,2
4,4,29,Episode 4,Brad,"Grand Rapids, Michigan",Brad,Brad,Pharmaceutical Sales Rep,2
5,5,30,Episode 4,Ryan,"Santa Barbara, California",Ryan M.,Ryan M.,Financial Advisor,2
6,6,31,Episode 4,Sean,"Wall, New Jersey",Sean,Sean,CPA,2
7,7,29,Episode 3,Rick,"San Diego, California",Rick,Rick,Business Manager,2
8,8,29,Episode 3,Ryan,"Wynola, California",Ryan R.,Ryan R.,Sales/Marketing,2
9,9,36,Episode 3,Todd,"San Francisco, California",Todd,Todd,Options Trader,2
10,10,28,Episode 2,Damon,"Cardiff, California",Damon,Damon,Arena Football Player,2
11,11,25,Episode 2,Eliot,"Mountain View, California",Eliot,Eliot,Options Trader,2
12,12,29,Episode 2,Harold,"Rock Island, Illinois",Harold Hersh,Harold H.,Professional Hockey Player,2
13,13,26,Episode 2,Marcus,"Los Angeles, California",Marcus,Marcus,Personal Trainer,2
14,14,32,Episode 2,Robert,"El Segundo, California",Robert,Robert,Alliance Development,2
15,15,32,Episode 1,Aaron,"Sacramento, California",Aaron,Aaron,Title and Escrow Sales,2
16,16,33,Episode 1,Andy,"Dallas, Texas",Andy Chang,Andy C.,Dentist,2
17,17,32,Episode 1,Anselm,"Venice, California",Anselm Clinard,Anselm C.,Art Designer,2
18,18,31,Episode 1,Brian,"Quincy, Massachusetts",Brian,Brian,Attorney,2
19,19,31,Episode 1,Chris,"Boston, Massachusetts",Chris,Chris,Accountant,2
20,20,24,Episode 1,Cory,"Long Beach Island, New Jersey",Cory Higgins,Cory H.,Small Business Owner,2
21,21,30,Episode 1,Jeff,"Macon, Georgia",Jeff O'Quinn,Jeff O.,Pharmaceutical Sales Rep,2
22,22,25,Episode 1,Justin,"Orlando, Florida",Justin,Justin,Professional Baseball Player,2
23,23,31,Episode 1,Keith,"Baltimore, Maryland",Keith,Keith,Financial Analyst,2
24,24,35,Episode 1,Trever,"North Wales, Pennsylvania",Trever,Trever,Restaurateur,2
25,0,26,NaN,Jesse,"Breckenridge, Colorado",Jesse Csincsak,Jesse C.,Professional snowboarder,4
26,1,31,NaN,Jason,"Cleveland, Ohio",Jason Mesnick,Jason M.,Account executive,4
27,2,30,NaN,Jeremy,"Dallas, Texas",Jeremy Anderson,Jeremy A.,Real estate attorney,4
28,3,29,NaN,Graham,"Raleigh, North Carolina",Graham Bunn,Graham B.,Professional basketball player,4
29,4,33,NaN,Sean,"Louisville, Kentucky",Sean Ramey,Sean R.,Martial artist,4
...,...,...,...,...,...,...,...,...,...
227,22,27,NaN,Josh,"Chicago, Illinois",Josh Seiter,Josh S.,Law Student/Exotic Dancer,11
228,23,31,NaN,Shawn,"London, Ontario",Shawn Evans,Shawn E.,Amateur Sex Coach,11
229,24,33,NaN,Brady,"Wauseon, Ohio",Brady Toops,Brady T.,Singer/Songwriter,11
230,25,28,NaN,Ryan,"Kansas City, Missouri",Ryan McDill,Ryan M.,Junkyard Specialist,11
231,0,27,NaN,Jordan,"Chico, California",Jordan Rodgers,Jordan R.,Former Pro Quarterback,12
232,1,27,NaN,Robby,"St. Augustine, Florida",Robby Hayes,Robby H.,Former Competitive Swimmer,12
233,2,27,NaN,Chase,"Castle Rock, Colorado",Chase McNary,Chase M.,Medical Sales Rep,12
234,3,31,NaN,Luke,"Burnet, Texas",Luke Pell,Luke P.,War Veteran,12
235,4,29,NaN,James,"Katy, Texas",James Taylor,James T.,Singer-Songwriter,12
236,5,25,NaN,Alex,"Oceanside, California",Alex Woytkiw,Alex W.,U.S. Marine,12
237,6,29,NaN,Derek,"Waverly, Iowa",Derek Peth,Derek P.,Commercial Banker,12
238,7,31,NaN,Wells,"Monterey, California",Wells Adams,Wells A.,Radio DJ,12
239,8,33,NaN,Evan,"Hartford, Connecticut",Evan Bass,Evan B.,Erectile Dysfunction Specialist,12
240,9,27,NaN,Grant,"San Francisco, California",Grant Kemp,Grant K.,Firefighter,12
241,10,28,NaN,Vincent,"Kings Park, New York","Vincent ""Vinny"" Ventiera",Vincent V.,Barber,12
242,11,31,NaN,Daniel,"Lions Bay, British Columbia",Daniel Maguire,Daniel M.,Male Model,12
243,12,34,NaN,James,"Franklin, Tennessee",James Fuertes,James F.,Boxing Club Owner,12
244,13,28,NaN,Chad,"Jenks, Oklahoma",Chad Johnson,Chad J.,Luxury Real Estate Agent,12
245,14,27,NaN,Ali,"Santa Monica, California",Ali Zahiri,Ali Z.,Bartender,12
246,15,26,NaN,Christian,"Los Angeles, California",Christian Bishop,Christian B.,Telecom Consultant,12
247,16,33,NaN,Nick,"Carthage, Illinois",Nick Benvenutti,Nick B.,Electrical Engineer,12
248,17,28,NaN,Brandon,"Marysville, Washington",Brandon Howell,Brandon H.,Hipster,12
249,18,27,NaN,James,"Phoenix, Arizona",James Spadafore,James S.,Bachelor Superfan,12
250,19,26,NaN,Will,"Jersey City, New Jersey",Will Haduch,Will H.,Civil Engineer,12
251,20,27,NaN,Coley,"Chicago, Illinois",Coley Knust,Coley K.,Real Estate Consultant,12
252,21,26,NaN,Jake,"Playa Vista, California",Jake Patton,Jake P.,Landscape Architect,12
253,22,29,NaN,Jonathan,"Vancouver, British Columbia",Jonathan Hamilton,Jonathan H.,Technical Sales Rep,12
254,23,26,NaN,Nick,"San Francisco, California",Nick Sharp,Nick S.,Software Salesman,12
255,24,26,NaN,Peter,"Rockdale, Illinois",Peter Medina,Peter M.,Staffing Agency Manager,12
256,25,28,NaN,Sal,"Hubbard, Ohio",Sal DeJulio,Sal D.,Operations Manager,12